body {
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: 'Neuton', serif;
}

li {
  line-height: 20px;
  padding-bottom: 5px;
  color: black;
}

ul{
  height: auto;
  background-color:rgba(255,255,255,0.7);
  border-radius: 12px;
  list-style-type:none;
  position: inline;
  margin: auto;
}

#activities{
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-family: 'Neuton', serif;
  text-align: center;
  font-size: 50px;
  margin-top: 48px;
  margin-bottom: 0px;
} 

h2{
  font-family: 'Neuton', serif;
  text-align: center;
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 10px;

}

h3{
  font-family: 'Neuton', serif;
  font-size: 20px;
  margin-bottom: -5px;
}

h5{
  font-family: 'Neuton', serif;
  margin-bottom: 4px;
  margin-top: 10px;
}

#container {
  margin: 0 auto;
  max-width: 650px;
  background-color: transparent !important;
}

#listed_activities{
  margin: 0 auto;
  display:inline-block;
  width: 100%;
}

#sign_up {
  width: 40%;
  text-align: left;
  float: right;
  padding-left: 10px;
}

#sign_in {
  width: 40%;
  text-align: left;
  float: left; 
  padding-left: 70px;
} 

.activity_pieces{
  font-family: 'Neuton', serif;
  font-size: 20px;
  float: left;
  width: 35%;
  margin-left: 2.3em;
  padding: 10px;
  margin-bottom: 1em;
}

#submit{
  margin-top: 6px;
}

small{
  font-size: 18px;
}


@media screen and (max-width: 600px) {
  .activity_pieces {
    width: 80%;
    margin-left: 10%;
    display: block;

  }
}

/*


h2 {
  text-align: center;
  color: #bbbbbb;
  margin: 0px 0 70px 0;
}
p {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  padding: 10px;
  line-height: 28px;
  text-align: justify;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 30px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

small {
  opacity: 0;
}

.show-description p {
  height: 150px;
}

.show-description small {
  opacity: 1;
}

.first{
  background-image: url("http://dash.ga.co/assets/firstcourse.jpg");
}
.second{
  background-image: url("http://dash.ga.co/assets/secondcourse.jpg");
}
.dessert{
  background-image: url("http://dash.ga.co/assets/dessertcourse.jpg");
}
.price {
  float: right;
}
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    margin-top: 20px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
  div {
    margin: 20px 12px 0 12px;
  }
  p {
    font-size: 20px;
    line-height: 24px;
  }
  small {
    font-size: 16px;
  }
}*/
